.ld-project-create-edit > .ld-wrapper > .main-content > .left > .main-title {
    font-weight: var(--ld-font-weight);
    font-size: calc(var(--ld-font-size-base) + 32px);
    max-width: 420px;
    margin-bottom: 45px;
}

.ld-project-create-edit > .ld-wrapper > .main-content > .left > .ld-button {
    margin-top: 40px;
}

.ld-project-create-edit > .ld-wrapper > .main-content > .left {
    max-width: 480px;
    margin: auto;
}