.ld-table {
    border-radius: 20px;
    box-shadow: 0px 4px 4px var(--ld-color-gray);
    background-color: var(--ld-color-gray-lightest);
    padding: 28px 0;
}

.ld-table > .head {
    color: var(--ld-color-gray-light);
    font-weight: calc(var(--ld-font-weight) - 200);
    font-size: calc(var(--ld-font-size-base) + 8px);
}

.ld-table > .head > .row {
    display: grid;
    grid-template-columns: 2fr 1fr 200px;
    padding: 0 32px;
}

.ld-table > .body {

}

.ld-table > .body > .row {
    display: grid;
    grid-template-columns: 2fr 1fr 200px;
    padding: 24px 32px;
    border-bottom: 1px solid var(--ld-color-gray-lighter);
}

.ld-table > .body > .row:last-child {
    border: none;
}

.ld-table > .body > .row > .title-description > .title {
    font-weight: calc(var(--ld-font-weight) - 200);
    font-size: calc(var(--ld-font-size-base) + 6px);
    margin-bottom: 8px;
}

.ld-table > .body > .row > .title-description > .description {

}

.ld-table > .body > .row > .total-cost {
    font-family: 'Roboto', sans-serif;
    font-weight: calc(var(--ld-font-weight) - 300);
}

.ld-table > .body > .row  > .actions {
    
}

.ld-table > .body > .row  > .actions > .edit {
    color: var(--ld-primary-color);
    cursor: pointer;
}

.ld-table > .body > .row  > .actions > .delete {
    color: var(--ld-color-danger);
    cursor: pointer;
    padding-left: 16px;
}